# 共通設定
spring:
  application:
    name: todo-app-server
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080

# デフォルトプロファイル
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3306/todo_db
    username: todo_user
    password: todo_password
    driver-class-name: com.mysql.cj.jdbc.Driver

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:mysql://mysql:3306/todo_db
    username: todo_user
    password: todo_password
    driver-class-name: com.mysql.cj.jdbc.Driver
